@CHARSET "ISO-8859-1";

body
{
	background-color:rgb(230,230,230);
}



#main_input
{
	width:50%;
	
	position:fixed;
	top:20%;
	left:10%;
}

.label
{
	width:33%;
	float:left;
}

h1, h2
{
	color:#CE0058;
	font-family:"Verdana";
}

label
{
	color:#005EB8;
	font-family:"Verdana";
}
p
{
	font-family:"Verdana";
	color:black;
}

.buttons
{
	float:right;
	position:fixed;
	left:40%;
	top:80%;
}

.styled-button-8 {
	background: ##005EB8;
	background: -moz-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#25A6E1),color-stop(100%,#188BC0));
	background: -webkit-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	background: -o-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	background: -ms-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	background: linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#25A6E1',endColorstr='#188BC0',GradientType=0);
	padding:8px 13px;
	color:#fff;
	font-family:'Helvetica Neue',sans-serif;
	font-size:17px;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border:1px solid #1A87B9
} 

.image
{
	width:50%;
	float:left;
} 



.desc
{
	position:fixed;
	left:10%;
	top:70%;
	font-family:"Verdana";
}

.smallImage
{
	width:35%;
	float:left;
}



.single
{
	background-color:white;
	padding:10px;
	spacing:20px;
	border-radius:5;
	position:relative;
	width:40%;
	height:40%;
	left:10%;
}

.buttonDiv
{
	position:absolute;
	bottom:5px;
	right:5px;
}

.smallInfo
{
	position:absolute;
	left:250px;
}

.separator
{
	height:10%;
	width:50;
	background-color:rgb(230,230,230);
}



.butDiv
{
	left:10%;
	position:relative;
	width:40%;
}

a
{
	font-family:"Verdana";
	color:#005EB8;
}

.back
{
	position:fixed;
	bottom:10px;
}